<p style="color: green"><%= notice %></p>

<h2><%= @author.name %></h2>
<br>
<p>
  <strong>Book written by  <%= @author.name %> :</strong>
<p>
<% for book in @author.book do %>
  <%= render book %>
<% end %>



<div>
  <%= button_to "Delete author", @author, class: "btn btn-outline-danger", method: :delete, :data => {:confirm => 'Are you sure you want to delete this author?'} %>
</div>

<br>

<div>
  <%= link_to "Edit author", edit_author_path(@author), class: "btn btn-outline-primary" %> |
  <%= link_to "Back to library", library_path %>

</div>
  
