

<div id="<%= dom_id book %>">

  <div class="row">

  <div class="col-3">
    <%= link_to book do %>
      <%= image_tag book.placeholder, class: "book-img" if book.placeholder.attached? %>
    <%end%>
  </div>
  

  <div class="col-6">
    <p>
      <strong>ISBN:</strong>
      <%= book.ISBN %>
    </p>
    <p>
      <strong>Title:</strong>
      <%= book.title %>
    </p>

    <%= link_to "Noleggia",  {controller: "book_rentals", action: "new", ISBN: book.ISBN}, class: "btn btn-primary"  %>
             
    
    <%= link_to 'Acquista', scraper_path(book.ISBN), class: "btn btn-warning" %>

    


    
  </div>

  </div>

  <br>

</div>
