



<h2 style="padding-bottom:20px; width:1000px"> 
    <%= @book.title %>
  </h2>

  <div class="row">

  <div class="col-2">
    
    <%= image_tag @book.placeholder, class: "book-img" if @book.placeholder.attached? %>
    
  </div>
  

  <div class="col-6">
    <table>
      <tr>
        <td>
          <strong>ISBN:</strong>
        </td>

        <td>
          <%= @book.ISBN %>
        </td>
      </tr>
    
      
      <tr>
        <td style="vertical-align:top; padding-right:15px">
          <strong>Authors:</strong>
        </td>

        <td>
          <% @authors.each do|author| %>
            <%= author.name%>
            <br>
          <%end%>
        </td>
      </tr>
    </table>
    
    <br>

    <%= link_to "Rent book",  {controller: "book_rentals", action: "new", ISBN: @book.ISBN}, class: "btn btn-primary"  %>
             
    
    <%= link_to 'Buy book', scraper_path(@book.ISBN), class: "btn btn-warning" %>
    


    
  </div>

  </div>

</div>
