<p style="color: green"><%= notice %></p>

<table style="width:80%; vertical-align:start">

<tbody style="vertical-align: top">
  <tr>
    <th style="vertical-align: bottom;">
      <h4>Filter</h4>
    </th>
    <th>
      <h2>Books catalog</h2>
    </th>
  </tr>
  <tr>
    <td style="width: 220px">
      <%= form_tag(filter_path, method: "get", remote: true, style: "margin-left: -30px; margin-right: 30px;" ) do %>
      <ul>
        <li style="list-style-type: none;">
          <%= text_field_tag :search, "", class: "form-control", placeholder: "Search ...", onkeydown: "clickSubmit()" %>
          <br>
        </li>
        <li style="list-style-type: none;">
          <%= radio_button_tag :checkCourse, "Your Course of study" %>
          <%= label :checkCourse, "Your Course of study"%>
        </li>
  
        <li style="list-style-type: none;">
          <%= radio_button_tag :checkCourse, "Categories" %>
          <%= label :checkCourse, "Categories"%>
          <ul id="ul-categories">
            <%= collection_check_boxes(:categories, :category, Category.all, :id, :name) do |b|%>
              <%= b.label class:"label-checkbox" do%>
                <ul>
                  <%=b.check_box + b.text%>
                </ul>
              <%end%>
            <%end%>
          </ul>
        </li>
  
        <li style="list-style-type: none;">
          <%= radio_button_tag :checkCourse, "Favorites" %>
          <%= label :checkCourse, "Favorites"%>
        </li>

        <br>
  
        <%= submit_tag "Filter", class: "btn btn-primary", id: "filter_submit"%>
  
      </ul>
      <%end%>
  
              
    </td>
    
  
  
    <td>  
      <div id="books-div">
      
      <% @books.each do |book| %>
        <%= render book %>
      <% end %>
  
      </div>
  
  
      
  
    </td>
  
  </tr>

  <tr>
    <td></td>
    <td style="text-align: end">
      <%= link_to "Add book to catalog", new_book_path, class: "btn btn-primary", style: "margin-top: 35px" %>
    </td>
  </tr>

</tbody>

<script>
  function clickSubmit() {
    $("#filter_submit").trigger("click");
  }
</script>

<%= stylesheet_link_tag "books" %>
<%= javascript_pack_tag "books"%>




