
<body>

  <div class="row">
    <div class="col-3">
        <h3>Filter</h3>
    </div>

    <div class="col-9">
      <ul>

        <li class="d-flex">
          <% @books.each do |book| %>

            <%= link_to book do %>
              <%= image_tag 'placeholder/'+book.placeholder %>
            <%end%>

            <div style="padding-left:20px">
              <p>
                <strong>Title:  </strong> 
                <%= link_to book.title, book %> 
              </p>
              <p>
                <strong>ISBN:  </strong>
                <%= book.ISBN %> 
              </p>
              <button class="btn btn-primary">
                <%= link_to "Acquista", #modificare%>
              </button>
            </div>
          
          <% end %>
        </li>

      </ul>

    </div>
  </div>

  <%= stylesheet_link_tag "books" %>



</body>
