<p style="color: green"><%= notice %></p>

<h1>Books</h1>


<% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>

  

<%= link_to "New book", new_book_path %>


<%= stylesheet_link_tag "books" %>




