<p style="color: green"><%= notice %></p>

<%= render @view_reservation %>

<div>
  <%= link_to "Edit this view reservation", edit_view_reservation_path(@view_reservation) %> |
  <%= link_to "Back to view reservations", view_reservations_path %>

  <%= button_to "Destroy this view reservation", @view_reservation, method: :delete %>
</div>
