<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= button_to "Delete category", @category, class: "btn btn-outline-danger", method: :delete,:data => {:confirm => 'Are you sure you want to delete this category?'} %>
</div>

<br>

<div>
  <%= link_to "Edit this category", edit_category_path(@category), class: "btn btn-outline-primary" %> |
  <%= link_to "Back to library", library_path %>
</div>
