<head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<div id="<%= dom_id secondhand %>">

  <div class="row">

    <div class="col-2">
      <p>
        <%= image_tag secondhand.image if secondhand.image.attached? %>
      </p>
    </div>

    <div class="col-6">
      <p>
        <strong>Book:</strong>
        <%= @book_info.title %>
      </p>

      <p>
        <strong>User:</strong>
        <%= secondhand.user_id %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= secondhand.description %>
      </p>
    </div>

    

  </div>
  
</div>


