<head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<div id="<%= dom_id secondhand %>">

  <div class="row">

    <div class="col-3">
      <%= link_to secondhand do %>
        <%= image_tag secondhand.image, class: "book-img" if secondhand.image.attached? %>
      <%end%>
    </div>

    <div class="col-6">
      <p>
        <strong>Book:</strong>
        <%= secondhand.book.title %>
      </p>

      <p>
        <strong>Vendor email:</strong>
        <%= secondhand.user.email %>
      </p>

      <p>
        <strong>Vendor matricola:</strong>
        <%= secondhand.user.matricola %>
      </p>

      
    </div>

    

  </div>
  <br>
  
</div>


