<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h2>Secondhand adv </h2>
<br>

<%= render @secondhand %>

<%if @secondhand.description.present?%>

  <div class="divider d-flex align-items-center my-4" style="width:1000px">
    <p class="text-center fw-bold mx-3 mb-0">Description</p>
  </div>

  <p style="width:1000px">

    <%= @secondhand.description %>
  </p>
<%end%>

<div class="d-flex">
  <div style = "padding-right: 5px;">
     <%= if can? :destroy, @secondhand then button_to "Delete secondhand", @secondhand, class: "btn btn-outline-danger", :data => {:confirm => 'Are you sure you want to delete this advertisement?'} , method: :delete end%> 
  </div>
  <%= if can? :approve, @secondhand then "|" end%>
  <div style= "padding-left: 5px;">
    <%= if can? :approve, @secondhand then link_to "Approve", approve_path, class: "btn btn-primary" end%>
  </div>
</div>

<br>

<div>
  <%= if can? :edit, @secondhand then link_to "Edit this secondhand", edit_secondhand_path, class: "btn btn-outline-primary" end%> 
  <%= if can? :edit, @secondhand then "|" end%>
  <%= link_to "Back to library", library_path %>
  
</div>


