<div id="<%= dom_id book_rental %>">
  <p>
    <strong>Isbn:</strong>
    <%= book_rental.book.ISBN %>
  </p>

  <p>
    <strong>Matricola:</strong>
    <%= book_rental.user.matricola %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= book_rental.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= book_rental.end %>
  </p>

</div>
