<%= form_with(model: book_rental) do |form| %>
  

  <div>
    <%= form.label :ISBN, style: "display: none" %>
    <%if params[:ISBN].present?%>
      <%= form.number_field :ISBN, value: params[:ISBN], style: "display: none" %>
    <%else%>
      <%= form.number_field :ISBN, value: params[:book_rental][:ISBN], style: "display: none" %>
    <%end%>
    
  </div>

  


  <div class="d-flex">
    <%= form.label :endDate, value: "End date:", style: "display: block; font-weight: bold; width: 80px;" %>
    <%= form.date_field :endDate %>
  </div>
  <br>
  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
