<%= form_with(model: book_rental) do |form| %>
  <% if book_rental.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_rental.errors.count, "error") %> prohibited this book_rental from being saved:</h2>

      <ul>
        <% book_rental.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ISBN, style: "display: none" %>
    <%= form.number_field :ISBN, value: params[:ISBN], style: "display: none" %>
  </div>

  


  <div class="d-flex">
    <%= form.label :endDate, value: "End date:", style: "display: block; font-weight: bold; width: 80px;" %>
    <%= form.date_field :endDate %>
  </div>
  <br>
  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
