
<% 
  isbn_book = params[:ISBN]
  @book = Book.find_by(ISBN: isbn_book)
%>
<table style="width: 50%; margin-left: 20%; padding-top: 20px">
<tr>
  <th colspan=2>
    <h2 style="padding-bottom: 30px;">Make your rental</h2>
  </th>
</tr>
<tr>

  <td style="padding-right:50px">
    
    <%= image_tag @book.placeholder, style: "width: 165px" if @book.placeholder.attached? %>
    
  </td>
  

  <td>
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Isbn:</strong>
      <%= @book.ISBN %>
    </p>
    

    <%= render "form", book_rental: @book_rental %>

    


    
  </td>

  </tr>

  <tr>
    <td style="padding-top: 20px;">
      <%= link_to "Back to library", library_path %>
    </tr>
  </tr>
  </table>

<br>

<script>
  $("input[type='submit']").val("Rent book");
</script>


