<p style="color: green"><%= notice %></p>

<%= render @book_rental %>

<div>
  <%= link_to "Edit this book rental", edit_book_rental_path(@book_rental) %> |
  <%= link_to "Back to book rentals", book_rentals_path %>

  <%= button_to "Destroy this book rental", @book_rental, method: :delete %>
</div>
